{% extends "uterg/base.html" %}
{% load staticfiles %} 

{% block content %}


<div class="row">
 <br>
  <div class="large-12 columns">

		<h1><a name="_Toc254196396"></a>Instrumentos</h1>
&nbsp;

Monitores da Qualidade do Ar ambiente da Série AP-370 HORIBA Monitores extremamente compactos e de manipulação muito fácil levando em consideração o grau de exatidão que possuem. Todos os analisadores são compatíveis aos métodos designados ou equivalentes da USEPA e construídos para serem instalados em gabinetes de 19 polegadas. Podem ser operados através de controles do painel frontal ou por comando de um computador (Datalogger, PLC) remoto. Os resultados das medições são exibidos no painel frontal e estão disponíveis para os sistemas de coleta de dados remota (PLC ou Dataloggers) através de várias interfaces elétricas e digitais de padrão industrial

&nbsp;

A Met One Instruments Inc. é um fabricante de instrumentos com fábricas no Oregon e no Texas - EUA. A Met One possui softwares para sistemas padrões e personalizados. É ainda uma integradora de sistemas utilizando instrumentos, hardware e software para obter a melhor configuração solicitada pelo cliente.

&nbsp;

Os sensores fabricados pela Met One Instruments são robustos, confiáveis, precisos e de fácil manutenção. Todos os sensores são calibrados pelas normas NIST e os sensores de vento (velocidade e direção) foram testados em túnel de vento e certificados para cumprir os requerimento da US-EPA. Estes sensores são fabricados com metais de alta qualidade e anodizados para evitar corrosão.

&nbsp;
<h2><a name="_Toc254196397"></a><a name="_Toc253151175"></a>Qualidade do Ar</h2>
<a name="_Toc254196398"></a>APMA-370CE Monitor de Monóxido de Carbono (CO)
<ul>
	<li>Monitoramento automático e contínuo de concentrações de monóxido de carbono no ar ambiente;</li>
	<li>Analisador certificado pela USEPA com certificações TÜV e CE;</li>
	<li>EPA Reference Method RFCA-0895-106;</li>
	<li>TÜV approval test nº. 24;</li>
	<li>0-100 ppm em quatro faixas de leitura;</li>
	<li>Método de medição por absorção de infravermelho não dispersivo com fluxo modular cruzado (NDIR);</li>
	<li>Sensibilidade e precisão;</li>
	<li>Compensação de temperatura e pressão;</li>
	<li>Peso: ± 33 Kg</li>
</ul>
&nbsp;
<h3><a name="_Toc254196399"></a>APNA-370CE Monitor de Óxidos de Nitrogênio (NO, NO2, NOX)</h3>
<ul>
	<li>Monitoramento automático e contínuo de concentrações dos óxidos de nitrogênio contidos no ar ambiente;</li>
	<li>Certificado pela USEPA (Método de Referência RFNA-0506-1517);</li>
	<li>TÜV Approval, Test Report nº 24;</li>
	<li>Medição simultânea de NO, NO2 e NOX;</li>
	<li>0 - 1.0 ppm em quatro faixas de leitura;</li>
	<li>Método de quimilunescência por fluxo cruzado duplo;</li>
	<li>Removedor de ozônio que elimina a interferência causada pelo vapor de água;</li>
	<li>Compensação de temperatura e pressão;</li>
	<li>Célua de amostra recoberta por ouro resiste à deterioração causada pelo ozônio;</li>
	<li>Peso: 26 Kg.</li>
</ul>
<h3><a name="_Toc254196400"></a><strong>APOA-370CE Monitor de Ozônio (O3)</strong></h3>
<ul>
	<li>Monitoramento automátivo e contínuo de concentrações de ozônio no ambiente;</li>
	<li>0 - 1.0 ppm em quatro faixas;</li>
	<li>Método de medição por absorção não dispersiva de raio Ultravioleta;</li>
	<li>Exclusivo removedor (Scrubber) de ozônio, produzido com lã de prata reduz o tempo de resposta do analisador e elimina a interferência de vapor de água;</li>
	<li>Célula de medição folheada a ouro resiste a corrosão de ozônio;</li>
	<li>Inclui filtro de vapor de água;</li>
	<li>Compensação de pressão e temperatura;</li>
	<li>EPA Equivalente Method EQOA-0196-112;</li>
	<li>TÜV Approved test report nº 9;</li>
	<li>Peso: ± 44 Kg .</li>
</ul>
&nbsp;
<h3><a name="_Toc254196401"></a><strong>APSA-370CE Monitor de Dióxido de Enxofre (SO2)</strong></h3>
<ul>
	<li>Monitoramento automátivo e contínuo de concentrações de dióxido de enxofre no ar ambiente;</li>
	<li>Certificado pela USEPA (Método de Referência EQSA-0506-159);</li>
	<li>Possui dispositivo de redução de hidrocarbonetos que utiliza membrana permeável e substituível para eliminação da interferência de hidrocarbonetos no gás de amostra;</li>
	<li>0 - 1.0 ppm em quatro faixas;</li>
	<li>Método de fluorescência por ultravioleta;</li>
	<li>Compensação de temperatura e pressão;</li>
	<li>Sensibilidade e Precisão;</li>
	<li>TÜV test repost 936/805008/SO2;</li>
	<li>Peso: ± 25 Kg.</li>
</ul>
&nbsp;
<h3><a name="_Toc254196402"></a><strong>APHA-370CE Monitor de Hidrocarbonetos Totais  (THC, NMHC, CH4)</strong></h3>
<ul>
	<li>Monitoramento automático e contínuo da concentração de hidrocarbonetos orgânicos voláteis (VOC) no ar ambiente;</li>
	<li>Medição de metanos (CH4), hidrocarbonetos não-metanos (NMHC) e hidrocarbonetos totais (THC);</li>
	<li>0 - 50 ppm C em quatro faixas;</li>
	<li>Combustão seletiva por fluxo cruzado e detecçção por ionização por chama de hidrogênio (FID);</li>
	<li>Compensação de temperatura e pressão;</li>
	<li>Imune a interferências causada pelo vapor de água;</li>
	<li>TÜV approval test report nº 25;</li>
	<li>Peso: ± 33 Kg.</li>
</ul>
&nbsp;
<h3><a name="_Toc254196403"></a><strong>BAM 1020 (PI) Medidor de Partículas Inaláveis</strong></h3>
<ul>
	<li>Utiliza o princípio de atenuação de raios Beta</li>
	<li>Monitora a quantidade de Partículas Totais em Suspensão (PTS), Partículas de até 10µ, 2,5µ e 1µ</li>
	<li>Armazenamento de dados: 200 dias (amostras de 1 hora)</li>
	<li>Faixa de medição: 0 - 100 / 200 / 250 / 500 / 1.000 / 2.000 / 5.000 / 10.000 mg/m3</li>
	<li>Ciclo de medição: 1 hora ou de 15 a 300 minutos</li>
</ul>
&nbsp;
<h3><a target='_blank' href="http://www.globalspec.com/Supplier/Profile/Environics"><strong>Environics® Series 6100 </strong></a><a name="_Toc254196404"></a><strong>- Computerized Multi-Gas Calibration System</strong></h3>
&nbsp;

O Environics 6100 é um calibrador controlado por um microprocessador usado para gerar concentrações precisas de ozônio e outros gases para calibração dos analisadores.

&nbsp;

As concentrações são geradas pelo calibrador, com o auxílio de um gerador de ar zero, a ser misturado com algum gás padrão, gerando assim a concentração desejada.

&nbsp;

O ozônio é o único gás gerado no interior do calibrador. Para outros gases é utilizado cilindros de gás padrão, e o calibrador controla a concentração desejada. O fluxo é controlado por dois controladores de fluxo de massa, de acordo com a necessidade do operador do sistema, este fluxo pode ser ajustado.

&nbsp;
<h2><a name="_Toc254196405"></a>Meteorológicos</h2>
<h3><a name="_Toc254196406"></a><strong>083D - Sensor, HumidityTemperature (Sensor de Temperatura e Umidade Relativa do Ar)</strong></h3>
<ul>
	<li>Destinado a medir continuamente a Temperatura e Umidade Relativa do ambiente do local da estação meteorológica;</li>
	<li>É instalado no interior de um abrigo especial, para evitar a incidência de chuva e o aquecimento dos raios solares garantindo, assim, medições confiáveis e exatas;</li>
	<li>Adaptável às aplicações meteorológicas, industriais, laboratoriais, e outras mais exigentes;</li>
	<li>Alimentação e consumo: 12 VDC, 4mA;</li>
	<li>Escalas: 0% a 100% de umidade relativa do ar -20ºC a +60ºC;</li>
	<li>Coeficiente de temperatura: 0.04% RH/ºC;</li>
	<li>Peso: 70.9 gramas;</li>
	<li>Dimensões: 190.5mm(comprimento) e 19mm (diâmetro);</li>
	<li>Elemento sensor: capacitor de filme polimérico;</li>
	<li>Resposta rápida de menos de 5 segundos</li>
</ul>
&nbsp;
<h3><a name="_Toc254196407"></a><strong>Model 5980 - Radiation Shield (Escudo de Radiação)</strong></h3>
<ul>
	<li>Desenhado para reduzir significativamente os erros nas medições de temperatura causados pela incidência de luz solar direta</li>
	<li>Protegido por pratos de alumínio concêntricos, que são virados para baixo nas bordas externas e pintados de braco, a fim de refletir a energia solar</li>
	<li>Utilizado com os sensores 064A e 083D</li>
	<li>Fornecido com um conector de engate rápido</li>
	<li>Peso: 0.79 Kg</li>
</ul>
<h3><a name="_Toc254196408"></a><strong>092 - Barometer with Weather Shield Attached Barômetro com protetor de tempo anexo</strong></h3>
<ul>
	<li>Construído em um invólucro de policarbonato, podendo ser instalado interna ou externamente;</li>
	<li>Saída digital e analógica;</li>
	<li>Adaptável para altitudes de até 4600m;</li>
	<li>Faixa de temperatura de operação: -40ºC a 55ºC;</li>
	<li>Faixa de operação calibrada: -18ºC a +50ºC;</li>
	<li>Peso: 8.8 oz. (250 g);</li>
	<li>Dimensões: 120 x 80 x 55 mm;</li>
	<li>Exatidão (acurácia): ±1.01 mbar;</li>
	<li>Resolução: 0.1 hPa.</li>
</ul>
<h3><a name="_Toc254196409"></a><strong>014A - Wind Speed Sensor (Sensor Velocidade do Vento)</strong></h3>
<ul>
	<li>É um anemômetro preciso, durável e econômico</li>
	<li>Construído com aço inoxidável e alumínio anodizado para resistir à corrosão</li>
	<li>O conector de engate rápido pode ser extendido sem afetar o desempenho da medição</li>
	<li>Saída analógica ou digital</li>
	<li>Escala de medição: 0 a 160 Km/h</li>
	<li>Baixo ponto de partida</li>
	<li>Ampla faixa de temperatura de operação</li>
	<li>Limite inferior de medição: 1.0 mph</li>
	<li>Exatidão: ± 0.25 mph ou 1.5% FS</li>
	<li>Escala de operação: -50ºC a +70ºC</li>
	<li>Constante de medição
<ul>
	<li>Padrão: menos de 4,5 m (conchas de metal)</li>
	<li>Resposta rápida: menos de 1,5m (conchas de Lexan)</li>
</ul>
</li>
	<li>Peso: 11 oz (310gr )</li>
</ul>
<a name="_Toc254196410"></a><strong>024A - Wind Direction Sensor (Sensor de Direção do Vento)</strong>
<ul>
	<li>Exatidão, confiança e economia fazem do 024A uma escolha ideal para a maioria das aplicações de estudo da velocidade do vento</li>
	<li>Construído com materiais com ótima resistência à corrosão, tais como aço inoxidável e alumínio anodizado</li>
	<li>Conectores de engate rápido permitem estender o cabo por grande distância sem afetar o desempenho da medição</li>
	<li>Possui um potenciômetro de precisão, possibilitando uma ótima resolução da direção do vento</li>
	<li>Escala: 0 - 360º</li>
	<li>Ampla faixa de temperatura de operação</li>
	<li>Baixo ponto de partida</li>
	<li>Recurso de alinhamento e calibração incluso</li>
	<li>Limite inferior de medição: 1.0 mph</li>
	<li>Exatidão: ± 5º</li>
	<li>Escala de operação: -50ºC a +70ºC</li>
	<li>Peso: 1 lb 2 oz (1,02 Kg)</li>
</ul>
&nbsp;
<h1><a name="_Toc254196411"></a><a name="_Toc253151176"></a>coletor de dados</h1>
O <strong>Ecologger </strong>é um sistema completo de aquisição e tratamento de dados para estações de medições ambientais automatizadas, tais como estações de monitoramento da qualidade do ar, meteorologia, efluentes líquidos, emissões atmosféricas (chaminés), qualidade das águas, dentre outras aplicações.

Sua função é coletar, integrar e armazenar dados gerados continuamente por sensores e analisadores montados em uma estação de medição, controlando a operação da estação e permitindo acesso remoto para transferência dos dados gerados, envio de alarmes e realização de intervenções nos monitores.
		
	</div>
	
</div>

<br>



{% endblock content %}