body {
	font-family: 'Lato', sans-serif;
	background-color: #ecf0f1;    
	color: #484848;
}

H1,H2,H3, H4 {	color: #16397B; }

.columns { background-color: #fff;}

.row-entidades {
	background: #16397B;
	background-color: #fff;
    padding-top: 20px;
}

footer {
	margin-top:20px;
	background: #e6eced;
	border-top:1px dotted #34495e;

}

footer .columns { background-color: #e6eced;}

footer H4 { color: #436292; }

.logo {
  width: 100px;/*40px;*/
  margin-left: 10px;
}

.item {padding-top:15px;}

.top-bar {
	background-color: #B9E8EC;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	    background: #4BC6ce;/*#544D67;*/
}




@media only screen and (min-width: 40.063em) {
  .top-bar {
    /* Para barra dupla ~96px
	  height: 6rem;
    padding-top: 3rem;
	  */
    position: relative; 
     /*para dar espaço para o slider*/
	  /*background: rgb(8, 49, 109);*/
  }

  .social-icons {
    position: absolute;
    right: 0;
    top: -45px; }

  .logo {
    width: 90px;/*40px;*/
    /* vcenter para barra dupla 
	  margin-top: -2.3rem; 	  
	 */
	margin-top: 0.17rem;
  } 
}


.global {border-top: 1px solid rgba(54, 117, 169,0.33);}

@media only screen and (min-width: 40.063em) {
  .social-icons {
    top: -35px; } }
