{% extends "mestre.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
<div class="medium-8 columns">
<p><img src="http://lorempixel.com/900/450/nature/Promoted Article" alt="main article image"></p>
</div>
<div class="medium-4 columns">
<p><img src="{% static 'images/qualidadedoar-logo.png' %}" alt="article promo image"></p>
<p><img src="http://lorempixel.com/400/200/people/Other cool article" alt="article promo image"></p>
</div>
</div>
<hr>
<div class="row column">
<h4 style="margin: 0;" class="text-center">BREAKING NEWS</h4>
</div>
<hr>
<div class="row small-up-3 medium-up-4 large-up-5">
<div class="column">
<img src="http://lorempixel.com/400/200/nature/Look at me" alt="image for article">
</div>
<div class="column">
<img src="http://lorempixel.com/400/200/nature/Look at me" alt="image for article">
</div>
<div class="column">
<img src="http://lorempixel.com/400/200/nature/Look at me" alt="image for article">
</div>
<div class="column show-for-medium">
<img src="http://lorempixel.com/400/200/nature/Look at me" alt="image for article">
</div>
<div class="column show-for-large">
<img src="http://lorempixel.com/400/200/nature/Look at me" alt="image for article">
</div>
</div>
<hr>
<div class="row column">
<h4 style="margin: 0;" class="text-center">LATEST STORIES</h4>
</div>
<hr>
<div class="row">
<div class="large-8 columns" style="border-right: 1px solid #E3E5E8;">
<article>
<div class="row">
<div class="large-6 columns">
<p><img src="http://lorempixel.com/600/370/business/Look at me" alt="image for article"></p>
</div>
<div class="large-6 columns">
<h5><a href="#">'Death Star' Vaporizes Its Own Planet</a></h5>
<p>
<span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
<span><i class="fi-comments"> 6 comments</i></span>
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
</div>
</div>
<hr>
<div class="row">
<div class="large-6 columns">
<p><img src="http://lorempixel.com/600/370/people/Look at me" alt="image for article"></p>
</div>
<div class="large-6 columns">
<h5><a href="#">NASA's SLS Rocket Sheds Saturn V Color Scheme in Design Review</a></h5>
<p>
<span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
<span><i class="fi-comments"> 6 comments</i></span>
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
</div>
</div>
<hr>
<div class="row">
<div class="large-6 columns">
<p><img src="http://lorempixel.com/600/370/nature/Look at me" alt="image for article"></p>
</div>
<div class="large-6 columns">
<h5><a href="#">Ingredients for Life Were Always Present on Earth, Comet Suggests</a></h5>
<p>
<span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
<span><i class="fi-comments"> 6 comments</i></span>
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
</div>
</div>
<hr>
<div class="row">
<div class="large-6 columns">
<p><img src="http://lorempixel.com/600/370/nature/Look at me" alt="image for article"></p>
</div>
<div class="large-6 columns">
<h5><a href="#">Astronaut's Watch Worn on the Moon Sells for Record $1.6 Million</a></h5>
<p>
<span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
<span><i class="fi-comments"> 6 comments</i></span>
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
</div>
</div>
<hr>
<div class="row">
<div class="large-6 columns">
<p><img src="http://lorempixel.com/600/370/nature/Look at me" alt="image for article"></p>
</div>
<div class="large-6 columns">
<h5><a href="#">Interstellar Dust on the Galaxy's Magnetic Field | Space Wallpaper</a></h5>
<p>
<span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
<span><i class="fi-comments"> 6 comments</i></span>
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
</div>
</div>
<hr>

<ul class="pagination" role="navigation" aria-label="Pagination">
<li class="disabled">Previous <span class="show-for-sr">page</span></li>
<li class="current"><span class="show-for-sr">You're on page</span> 1</li>
<li><a href="#" aria-label="Page 2">2</a></li>
<li><a href="#" aria-label="Page 3">3</a></li>
<li><a href="#" aria-label="Page 4">4</a></li>
<li><a href="#" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
</ul>
</article>
</div>
<div class="large-4 columns">
<aside>
<div class="row small-up-3">
<div class="column text-center">
<i class="fi-social-facebook"></i>
<h6>56,009</h6>
<p><small>FOLLOWERS</small></p>
<br>
</div>
<div class="column text-center">
<i class="fi-social-twitter"></i>
<h6>76,905</h6>
<p><small>FOLLOWERS</small></p>
<br>
</div>
<div class="column text-center">
<i class="fi-social-instagram"></i>
<h6>34,099</h6>
<p><small>FOLLOWERS</small></p>
<br>
</div>
<div class="column text-center">
<i class="fi-social-tumblr"></i>
<h6>13,765</h6>
<p><small>FOLLOWERS</small></p>
</div>
<div class="column text-center">
<i class="fi-social-pinterest"></i>
<h6>9,283</h6>
<p><small>FOLLOWERS</small></p>
</div>
<div class="column text-center">
<i class="fi-social-youtube"></i>
<h6>99,000</h6>
<p><small>FOLLOWERS</small></p>
</div>
</div>
<br>
<div class="row column">
<p class="lead">FROM OUR FRIENDS</p>
<p><img src="http://placehold.it/400x300&amp;text=Buy Me!" alt="advertisement of ShamWow"></p>
</div>
<br>
<div class="row column">
<p class="lead">TRENDING POSTS</p>
<div class="media-object">
<div class="media-object-section">
<img class="thumbnail" src="http://lorempixel.com/100/100/business/">
</div>
<div class="media-object-section">
<h5>All I need is a space suit and I'm ready to go.</h5>
</div>
</div>
<div class="media-object">
<div class="media-object-section">
<img class="thumbnail" src="http://lorempixel.com/100/100/sports/">
</div>
<div class="media-object-section">
<h5>Are the stars out tonight? I don't know if it's cloudy or bright.</h5>
</div>
</div>
<div class="media-object">
<div class="media-object-section">
<img class="thumbnail" src="http://lorempixel.com/100/100/people/">
</div>
<div class="media-object-section">
<h5>And the world keeps spinning.</h5>
</div>
</div>
<div class="media-object">
<div class="media-object-section">
<img class="thumbnail" src="http://lorempixel.com/100/100/city/">
</div>
<div class="media-object-section">
<h5>Cold hearted orb that rules the night.</h5>
</div>
</div>
</div>
</aside>
</div>
</div>
{% endblock content %}