{% extends "uterg/base.html" %}

{% block content %}

<div class="row">
  
  
   	<div class='large-12 columns'>
<h1>  Autenticação      </h1>
{% if form.errors %}
<p class="error">Sua senha ou username não estão corretos. Tente novamente.</p>
{% endif %}

<form method="post" action="{% url 'auth' %}">
{% csrf_token %}
<table>
<tr>
    <td>Username</td>
    <td><input type="text" name="username" value="" id="username"></td>
</tr>
<tr>
    <td>Senha</td>
    <td><input type="password" name="password" value="" id="password"></td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<!--p><a href="{#% url 'password_reset' %#}">Esqueci a senha?</a></p-->

<br>
  </div>
</div>
{% endblock %}